build/???/
output/bin/
output/lib*/
output/share/
output/*.dll
output/*.exe
output/**/*.ilk
output/**/*.iobj
output/**/*.ipdb
output/**/*.pdb
output/plugins/**/*.a
output/plugins/**/*.dll
output/plugins/**/*.exp
output/plugins/**/*.lib
sdk/lib/
install/windows/source
install/windows/*.exe
.vscode/*.db
/.vscode/*cache*/
/.svn/
/libadditionald.exp
/libadditionald.lib
/libcommond.exp
/libcommond.lib
/libcontainersd.exp
/libcontainersd.lib
/libformsd.exp
/libformsd.lib
/liblayoutd.exp
/liblayoutd.lib
/.vs/
/Debug/
/libadditional.exp
/libadditional.lib
/libcommon.exp
/libcommon.lib
/libcontainers.exp
/libcontainers.lib
/libforms.exp
/libforms.lib
/liblayout.exp
/liblayout.lib
/_build/
/_install/
/compile_commands.json
