build/???/
output/bin/
output/lib*/
output/share/
output/*.exe
output/plugins/**/*.a
output/plugins/**/*.dll
sdk/lib/
install/windows/source
install/windows/*.exe
.vscode/*.db
/.svn/
/libadditionald.exp
/libadditionald.lib
/libcommond.exp
/libcommond.lib
/libcontainersd.exp
/libcontainersd.lib
/libformsd.exp
/libformsd.lib
/liblayoutd.exp
/liblayoutd.lib
/.vs/
/Debug/
/libadditional.exp
/libadditional.lib
/libcommon.exp
/libcommon.lib
/libcontainers.exp
/libcontainers.lib
/libforms.exp
/libforms.lib
/liblayout.exp
/liblayout.lib
